In [3]:
import pandas as pd

In [4]:
df=pd.read_csv('train.csv')

In [5]:
df.head()

,id,car_name,yr_mfr,fuel_type,kms_run,sale_price,city,times_viewed,body_type,transmission,...,total_owners,broker_quote,original_price,car_rating,ad_created_on,fitness_certificate,emi_starts_from,booking_down_pymnt,reserved,warranty_avail
0,1,maruti swift,2015,petrol,8063,386399,noida,18715,hatchback,manual,...,2,397677,404177.0,great,2021-04-04T07:09:18.583,True,8975,57960,False,False
1,2,maruti alto 800,2016,petrol,23104,265499,noida,2676,hatchback,manual,...,1,272935,354313.0,great,2021-03-22T14:07:32.833,True,6167,39825,False,False
2,3,hyundai grand i10,2017,petrol,23402,477699,noida,609,hatchback,manual,...,1,469605,NaN,great,2021-03-20T05:36:31.311,True,11096,71655,False,False
3,4,maruti swift,2013,diesel,39124,307999,noida,6511,hatchback,manual,...,1,294262,374326.0,great,2021-01-21T12:59:19.299,True,7154,46200,False,False
4,5,hyundai grand i10,2015,petrol,22116,361499,noida,3225,hatchback,manual,...,1,360716,367216.0,great,2021-04-01T13:33:40.733,True,8397,54225,False,False

In [6]:
df.isnull().sum()

id                        0
car_name                  0
yr_mfr                    0
fuel_type                 0
kms_run                   0
sale_price                0
city                      0
times_viewed              0
body_type                90
transmission            474
variant                   0
assured_buy               0
registered_city           8
registered_state          8
is_hot                    0
rto                       0
source                  114
make                      0
model                     0
car_availability        542
total_owners              0
broker_quote              0
original_price         2824
car_rating                7
ad_created_on             1
fitness_certificate       8
emi_starts_from           0
booking_down_pymnt        0
reserved                  0
warranty_avail            0
dtype: int64

In [7]:
df.dtypes

id                       int64
car_name                object
yr_mfr                   int64
fuel_type               object
kms_run                  int64
sale_price               int64
city                    object
times_viewed             int64
body_type               object
transmission            object
variant                 object
assured_buy               bool
registered_city         object
registered_state        object
is_hot                    bool
rto                     object
source                  object
make                    object
model                   object
car_availability        object
total_owners             int64
broker_quote             int64
original_price         float64
car_rating              object
ad_created_on           object
fitness_certificate     object
emi_starts_from          int64
booking_down_pymnt       int64
reserved                  bool
warranty_avail            bool
dtype: object

In [8]:
df=df.drop(columns=['id','times_viewed','source','car_availability','broker_quote','ad_created_on','emi_starts_from','booking_down_pymnt','warranty_avail','reserved'])

In [9]:
df.dtypes

car_name                object
yr_mfr                   int64
fuel_type               object
kms_run                  int64
sale_price               int64
city                    object
body_type               object
transmission            object
variant                 object
assured_buy               bool
registered_city         object
registered_state        object
is_hot                    bool
rto                     object
make                    object
model                   object
total_owners             int64
original_price         float64
car_rating              object
fitness_certificate     object
dtype: object

In [10]:
df.isnull().sum()

car_name                  0
yr_mfr                    0
fuel_type                 0
kms_run                   0
sale_price                0
city                      0
body_type                90
transmission            474
variant                   0
assured_buy               0
registered_city           8
registered_state          8
is_hot                    0
rto                       0
make                      0
model                     0
total_owners              0
original_price         2824
car_rating                7
fitness_certificate       8
dtype: int64

In [16]:
# 
# Fill missing values with a specific value (e.g., 0)
df_filled_zero = df.fillna(0)

# Fill missing values with a specific string (e.g., 'Unknown')
df = df.fillna('Unknown')

In [18]:
df.isnull().sum()

car_name               0
yr_mfr                 0
fuel_type              0
kms_run                0
sale_price             0
city                   0
body_type              0
transmission           0
variant                0
assured_buy            0
registered_city        0
registered_state       0
is_hot                 0
rto                    0
make                   0
model                  0
total_owners           0
original_price         0
car_rating             0
fitness_certificate    0
dtype: int64

In [19]:
boolean_cols = df.select_dtypes(include=['bool']).columns

In [20]:
df[boolean_cols] = df[boolean_cols].astype(str)

In [21]:
print(df.head())

            car_name  yr_mfr fuel_type  kms_run  sale_price   city  body_type  \
0       maruti swift    2015    petrol     8063      386399  noida  hatchback
1    maruti alto 800    2016    petrol    23104      265499  noida  hatchback
2  hyundai grand i10    2017    petrol    23402      477699  noida  hatchback
3       maruti swift    2013    diesel    39124      307999  noida  hatchback
4  hyundai grand i10    2015    petrol    22116      361499  noida  hatchback

  transmission          variant assured_buy registered_city registered_state  \
0       manual          lxi opt        True           delhi            delhi
1       manual              lxi        True           noida    uttar pradesh
2       manual  sports 1.2 vtvt        True            agra    uttar pradesh
3       manual              vdi        True           delhi            delhi
4       manual   magna 1.2 vtvt       False       new delhi            delhi

  is_hot   rto     make      model  total_owners original_price car_rating  \
0   True  dl6c   maruti      swift             2       404177.0      great
1   True  up16   maruti   alto 800             1       354313.0      great
2   True  up80  hyundai  grand i10             1        Unknown      great
3   True  dl1c   maruti      swift             1       374326.0      great
4   True  dl12  hyundai  grand i10             1       367216.0      great

  fitness_certificate
0                True
1                True
2                True
3                True
4                True

In [22]:
print(df.dtypes)

car_name               object
yr_mfr                  int64
fuel_type              object
kms_run                 int64
sale_price              int64
city                   object
body_type              object
transmission           object
variant                object
assured_buy            object
registered_city        object
registered_state       object
is_hot                 object
rto                    object
make                   object
model                  object
total_owners            int64
original_price         object
car_rating             object
fitness_certificate    object
dtype: object

In [24]:
df=pd.read_csv('newfile.csv')

In [25]:
df.dtypes

car_name               object
yr_mfr                  int64
fuel_type              object
kms_run                 int64
sale_price              int64
city                   object
body_type              object
transmission           object
variant                object
assured_buy              bool
registered_city        object
registered_state       object
is_hot                   bool
rto                    object
make                   object
model                  object
total_owners            int64
original_price         object
car_rating             object
fitness_certificate    object
dtype: object

In [26]:
df=pd.read_csv('true.csv')

In [27]:
df.dtypes

car_name               object
yr_mfr                  int64
fuel_type              object
kms_run                 int64
sale_price              int64
city                   object
body_type              object
transmission           object
variant                object
assured_buy              bool
registered_city        object
registered_state       object
is_hot                   bool
rto                    object
make                   object
model                  object
total_owners            int64
original_price         object
car_rating             object
fitness_certificate    object
dtype: object